@import "../../../styles/colors.css";

.shared-btn {
  padding: 0.5rem 0;
  border-radius: 5px;
  font-size: 1.2em;
  width: 10rem;
  color: var(--clr-txt);
  border: 3px solid #603f8b;
  letter-spacing: 0.05em;
}

.shared-btn svg {
  padding-left: 0.5rem;
}

.shared-btn:hover,
.shared-btn:active,
.shared-btn:target {
  background: var(--clr-back-hover);
  box-shadow: 0px 3px 5px #00000024;
}

.active-btn {
  background: var(--clr-back-hover);
  box-shadow: 0px 3px 5px #00000024;
  border-color: transparent;
}

@media screen and (min-width: 1230px) {
  .shared-btn {
    width: 12rem;
  }
}
