@import "../../styles/colors.css";
@import "../../styles/sizes.css";
@import "../../styles/typography.css";

.about-container {
  width: 100%;
  margin-bottom: 10vh;
}

.about-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3.5rem 5rem;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.about-item {
  width: 40vw;
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  transition: all 0.3s ease-in;
  line-height: 1.5;
  font-size: 0.95em;
}

.about-icon {
  height: 3.5rem;
}

.about-logo {
  height: 3.5rem;
}

.fire {
  height: 2.7rem;
}

.code,
.responsive {
  height: 2.2rem;
}

.heart {
  height: 2.3rem;
}

@media screen and (min-width: 1840px) {
  .about-wrapper {
    gap: 3.5rem 5rem;
  }

  .about-item {
    font-size: 1.3em;
    padding: 0 2.5rem;
  }
}

@media screen and (min-width: 1023px) {
  .about-wrapper {
    gap: 5vh 5vw;
  }

  .about-item {
    width: 35vw;
    font-size: 1em;
  }
}

@media screen and (max-width: 900px) {
  .about-item {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 800px) {
  .about-wrapper {
    gap: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .about-item {
    width: 38vw;
  }

  .about-icon {
    height: 2.5rem;
  }

  .about-logo {
    height: 3rem;
  }

  .fire {
    height: 2.1rem;
  }

  .code,
  .responsive {
    height: 1.5rem;
  }

  .heart {
    height: 1.8rem;
  }
}

@media screen and (max-width: 500px) {
  .about-wrapper {
    gap: 2rem;
  }

  .about-item {
    width: 100%;
    gap: 1.5rem;
  }

  .about-item:last-of-type {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    box-shadow: 0 12px 13px #00000024;
    width: unset;
    margin: 0 auto;
    padding: 0.75rem;
    gap: 1rem;
    margin-top: 1vh;
  }

  .about-icon {
    width: 2.5rem;
  }

  .about-logo {
    height: 2.7rem;
  }

  .fire {
    height: 2.2rem;
  }

  .creative {
    height: 2.3rem;
  }

  .code,
  .responsive {
    height: 1.6rem;
  }

  .heart {
    height: 1.4rem;
    width: unset;
  }

  .about-desc {
    font-size: 1.2em;
  }

  .about-desc:nth-last-child() {
    font-size: 1em;
  }
}

@media screen and (max-width: 400px) {
  .about-wrapper {
    gap: 2rem;
    margin-bottom: 5vh;
  }

  .about-item {
    gap: 1rem;
    line-height: unset;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 420px) and (min-height: 799px) {
  .about-wrapper {
    margin-bottom: 10vh;
  }
}

@media screen and (max-width: 300px) {
  .about-wrapper {
    font-size: 0.85em;
  }
}
