@import "../../styles/colors.css";

.landing-container {
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 2rem;
  scroll-behavior: smooth;
}

.landing-intro {
  font-size: 1.5em;
}

.landing-title {
  font-size: 4.5em;
  color: var(--clr-brand);
}

.landing-sub-title {
  font-size: 3.5em;
  margin-bottom: 5vh;
  color: #695e93;
}

@media screen and (max-width: 800px) {
  .landing-title {
    font-size: 4em;
  }

  .landing-sub-title {
    font-size: 2.8em;
  }
}

@media screen and (max-width: 700px) {
  .landing-intro {
    font-size: 1.3em;
  }

  .landing-title {
    font-size: 3.5em;
  }

  .landing-sub-title {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 500px) {
  .landing-container {
    padding: 0 1rem;
  }

  .landing-intro {
    font-size: 1.1em;
  }

  .landing-title {
    font-size: 2.5em;
    padding-top: 1rem;
  }

  .landing-sub-title {
    font-size: 1.8em;
    padding-top: 1rem;
  }
}

@media screen and (max-width: 415px) {
}
