.footer-container {
  grid-area: f;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #695e9321;
}

.footer-copyright {
  font-size: 0.7em;
  padding-right: 0.5vw;
}

.footer-logo {
  font-size: 0.8em;
  margin-right: 1vw;
}

.footer-logo img {
  width: 2vw;
  height: 5vh;
}
