.footer-container {
  grid-area: f;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.footer-container svg {
  padding-right: 0.5rem;
}

.footer-logo {
  height: 2.5rem;
}
