.footer-container {
  grid-area: f;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(105, 94, 147, 0.129);
}

.footer-copyright {
  font-size: 0.75em;
  padding-right: 0.5vw;
}

.footer-logo {
  font-size: 0.7em;
}

.footer-left {
  margin-right: 3vw;
}

.footer-right {
  margin-left: 3vw;
}

.footer-logo img {
  width: 1.5vw;
  height: 4.5vh;
}
