@import "../../styles/colors.css";

.landing-container {
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 2rem;
}

.landing-intro {
  font-size: 1.5em;
}

.landing-title {
  font-size: 4.5em;
  color: var(--clr-brand);
}

.landing-sub-title {
  font-size: 3.5em;
  margin-bottom: 5vh;
  color: #695e93;
}
