@import "../../../styles/colors.css";

.link {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  scroll-behavior: smooth;
}

.btn-like {
  padding: 1rem;
  display: inline-flex;
  align-items: center;
  border: 3px solid #603f8b;
}

.active-link,
.link:hover {
  border-radius: 5px;
  background: var(--clr-back-hover);
  border-color: transparent;
}

.s-nav-link {
  padding: 0.75rem;
}

.left-space {
  margin-left: 2vw;
}

.link-icon {
  font-size: 14px;
  padding-right: 0.5rem;
}

.right {
  padding: 0 0 0 0.5rem;
  font-size: 1.2em;
}

.link-title {
  font-size: 14px;
}

.link-title-btn {
  font-size: 1.2em;
}

@media screen and (max-width: 800px) {
  .link {
    padding: 0.5rem;
  }

  .btn-like {
    padding: 0.75rem;
  }

  .s-nav-link {
    padding: 0.75rem;
  }

  .s-nav-icon {
    font-size: 1.2em;
    padding-right: 1rem;
  }

  .s-nav-link-title {
    font-size: 1.3em;
  }

  .right {
    font-size: 1em;
  }

  .link-title-btn {
    font-size: 1em;
  }
}

@media screen and (max-width: 500px) {
  .s-nav-icon {
    font-size: 1em;
  }

  .s-nav-link-title {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 400px) {
  .s-nav-link {
    padding: 0.5rem;
  }

  .s-nav-icon {
    font-size: 0.95em;
  }

  .s-nav-link-title {
    font-size: 1em;
  }
}
