:root {
  /* layout */

  --clr-bg: #0e1212;
  --clr-bg-line: 14, 18, 18;
  /*   --clr-green: rgb(76, 175, 80);
  --clr-green-back: rgba(76, 175, 80, 0.5);
  --clr-yellow: #ffcc70;
  --clr-red: rgb(239, 83, 80);
  --clr-red-back: rgba(239, 83, 80, 0.5);
  --clr-light-gray: #7a92a5;
  --clr-box: #e1e5e8;
  --clr-white: #fff; */
}
