.contact-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.with-alert {
  flex-direction: column-reverse;
  gap: 3rem;
  margin-top: 2rem;
}

@media screen and (min-width: 1230px) {
}

@media screen and (min-width: 1023px) {
  .contact-wrapper {
    justify-content: center;
    gap: 5rem;
  }
}
