@import "../../styles/colors.css";
@import "../../styles/sizes.css";
@import "../../styles/typography.css";

.about-main-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.about-container {
  width: 45%;
  margin: 0 auto;
}

.about-desc {
  padding-top: 2vh;
  font-size: 1.2em;
  line-height: 2;
  letter-spacing: 0.025em;
}
