@import "../../styles/colors.css";
@import "../../styles/sizes.css";
@import "../../styles/typography.css";

.about-main-wrapper {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.about-container {
  width: 100%;
}

.MuiGrid-item {
  white-space: pre-wrap;
}

.MuiGrid-item:nth-child(1),
.MuiGrid-item:nth-child(4) {
  margin-left: auto;
}

.MuiGrid-item:nth-child(3),
.MuiGrid-item:nth-child(5) {
  margin-right: auto;
}

.MuiGrid-item:last-child {
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: 650;
}

.about-desc {
  box-shadow: var(--clr-card-shad);
  background-color: var(--clr-card-back);
}
