.contact-container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  text-align: center;
}

.contact-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.with-alert {
  flex-direction: column-reverse;
  gap: 3rem;
  margin-top: 2rem;
}
