@import "../../styles/colors.css";

.projects-container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.projects-btn-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 2em;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.projects-cards-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(20vh, 1fr));
  grid-template-rows: repeat(3, 20vw);
  grid-gap: 2rem;
  padding: 3vh 0 0 0;
  margin: 0;
}

.project-card {
  box-shadow: 0px 3px 5px #00000024;
  transition: all 0.2s ease-in;
  font-size: 0.85em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.project-card:hover {
  box-shadow: 3px 3px 10px 5px #695e93;
}

.project-img-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  transition: 0.5s ease;
  border-radius: 5px;
}

.project-title {
  position: absolute;
  z-index: 2;
  top: 3rem;
  font-size: 1.5em;
  width: 100%;
  transition: 0.5s ease;
  text-align: center;
  color: lightgrey;
  padding: 0 0.5rem;
  letter-spacing: 0.1em;
  font-size: 1.5em;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
  border-radius: 5px;
}

.project-meta-data {
  display: inline-flex;
  gap: 2em;
  position: absolute;
  z-index: 2;
  bottom: 2vh;
}

.project-meta-data .link {
  border: 3px solid #603f8b;
}

.project-meta-data .link:hover {
  border-color: transparent;
}

.project-meta-data .link-icon {
  font-size: 1em;
}

.project-meta-data .link-title {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.08em;
}

.project-meta-data .project-tooltip {
  display: none;
}

@media screen and (min-width: 1230px) {
  .projects-cards-container {
    padding: 2rem 5rem;
  }

  .project-meta-data {
    gap: 2.5rem;
  }

  .project-meta-data .link {
    width: 8vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .project-meta-data .link-icon {
    font-size: 1.1em;
  }

  .project-meta-data .link-title {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 1023px) {
  .project-title {
    letter-spacing: 0.07em;
    font-size: 1.3em;
  }
}

@media screen and (max-width: 900px) {
  .project-title {
    font-size: 1.1em;
    top: 2rem;
  }

  .project-meta-data .link {
    padding: 0.5rem;
  }

  .project-meta-data .link-icon {
    font-size: 0.9em;
  }

  .project-meta-data .link-title {
    font-size: 0.9em;
  }
}

/* tablet */
@media screen and (max-width: 901px) and (min-height: 1025px) {
  .projects-cards-container {
    grid-template-columns: repeat(3, minmax(17vh, 1fr));
  }
}

@media screen and (max-width: 800px) {
  .projects-cards-container {
    grid-gap: 1rem;
    padding: 1vh 0 0 0;
  }
  .projects-btn-wrapper {
    gap: 1.5rem;
  }

  .project-title {
    font-size: 1em;
  }

  .project-meta-data {
    gap: 1rem;
    font-size: 0.9em;
  }

  .project-meta-data .link {
    padding: 0.25rem 0.5rem;
  }
}

@media screen and (max-width: 700px) {
  .projects-cards-container {
    grid-template-columns: repeat(2, minmax(20vh, 1fr));
    grid-template-rows: repeat(4, 25vw);
  }

  .project-meta-data {
    gap: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .projects-cards-container {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    padding: 1vh 3vw;
  }

  .project-card {
    height: 14rem;
  }

  .project-title {
    font-size: 1.6em;
  }

  .project-meta-data {
    font-size: 1em;
  }

  .project-meta-data .link {
    border: 3px solid #603f8b;
    padding: 0.5rem 1rem;
  }

  .project-meta-data .link-title {
    font-size: 1em;
  }

  .project-meta-data .link-icon {
    font-size: 1em;
  }

  .project-meta-data:hover .project-tooltip {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .projects-btn-wrapper {
    gap: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .projects-btn-wrapper {
    padding: 0 1rem;
  }

  .projects-cards-container {
    padding: 1vh 3vw;
  }
}
