@import "../../../styles/colors.css";
@import "../../../styles/typography.css";
@import "../../../styles/sizes.css";

:root {
  --fs-alert-large: 22px;
}

.alert-container {
  padding: 1.5rem;
  background: linear-gradient(
    rgba(96, 63, 139, 0.6) 55%,
    rgba(121, 84, 161, 0.5)
  );
  border-radius: 15px;
}

.alert-container:hover {
  cursor: pointer;
  background: var(--clr-back-hover);
}

.alert-text {
  line-height: var(--lh-15);
  letter-spacing: 0.08em;
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
}

.alert-success {
  font-size: 1.3em;
}

.alert-text span {
  font-size: 1.7em;
}

.alert-text svg {
  padding-right: 0.5rem;
}

@media screen and (max-width: 500px) {
  .alert-container {
    padding: 1rem;
  }

  .alert-fail {
    max-width: 60vw;
    font-size: 0.9em;
  }

  .alert-success {
    font-size: 1.1em;
  }

  .alert-text span {
    font-size: 1.3em;
  }
}
