@import "../../styles/colors.css";

.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0.5rem 1rem;
  grid-area: h;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: var(--clr-back);
  box-shadow: 3px 5px 15px #00000045;
}

@media screen and (max-width: 300px) {
  .header-container {
    max-width: 90%;
  }
}
